<div class='row justify-space-between-md'>
    <div class='login'>
        <h2 class='heading'>Login</h2>
        <form class='form loginForm'>
            <div class='formContent'>
                <label for='username'>Username:</label>
                <input class='formInput' type='text' id='username'>
            </div>
            <div class='formContent'>
                <label for='password'>Password:</label>
                <input class='formInput' type='text' id='password'>
            </div>
            <div class='formContent'>
                <button class='btn btn-primary' type='submit'>login</button>
            </div>
        </form>
    </div>
    <div class='login'>
        <h2 class='heading'>Sign-up</h2>
        <form class='form signupForm'>
            <div class='formContent'>
                <label for='userSignup'>Username:</label>
                <input class='formInput' type='text' id='userSignup'>
            </div>
            <div class='formContent'>
                <label for='passSignup'>Password:</label>
                <input class='formInput' type='text' id='passSignup'>
            </div>
            <div class='formContent'>
                <button class='btn btn-primary' type='submit'>sign-up</button>
            </div>
        </form>
    </div>
</div>